{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Polling Project {% block title_heading %}{% endblock title_heading %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/790a4728d4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <!-- <a class="navbar-brand" href="">Polling Project</a> -->
      
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'polls:index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'polls:history'%}"> <i class="fas fa-poll"></i> History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'polls:create'%}"> <i class="fas fa-plus-circle"></i>  Create a poll</a>
          </li>
        {% endif %}
      </ul>

      <div class="ml-md-auto">
        {% if request.user.is_authenticated %}
          <a href="{% url 'user:logout' %}">
            <button class="btn btn-danger"> Logout </button>
          </a>
        {% else %}
          <a href="{% url 'user:register' %}">
            <button class="btn btn-success"> Register </button>
          </a> 
          <a href="{% url 'user:login' %}">
            <button class="btn btn-success"> Login </button>
          </a> 
        {% endif %}
      </div>
    </nav>
  </header>
  <div class="container">
    <br>
    {% block content %}{% endblock content %}
  </div>
  <footer></footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function() {
      {% if messages %}
        {% for message in messages %}
          toastr.{{message.tags}}('{{ message|safe }}')
        {% endfor %}
      {% endif %}
    });
  </script>
</body>
</html>