{% load crispy_forms_tags %}
{% if request.user.is_authenticated %}
    <b> Write your thoughts </b>
    <form method="post" action="{% url 'polls:comments' question_id%}" id="comment-form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Post Comment">
    </form>
    <br/>
{% endif %}
<div class="comments">
    <b> Comments : </b> <br>
    {% if comment_list %}
        {% for comment in comment_list %}
            <p>
                <b>{{ comment.commenter.username }} : </b> {{ comment.comment_text }}
            </p>
        {% endfor %}
    {% else %}
        There are no comments for this poll yet.
    {% endif %}
</div>