{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block title_heading %}
  | Poll
{% endblock %}
{% block content %} 
    <br/>
    <form action="{% url 'polls:vote' question.id %}" method="post" class="container">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <b>{{question.question_text}}</b><br/>
                {% print_question_category question %}
            </div>
            <div class="card-body">{{ form|crispy }}</div>
            <div class="card-footer">
                <input type="submit" value="Vote" class="btn btn-primary">
                {% if request.user == question.author %}
                    <a href="{% url 'polls:edit' question.id %}"class="btn btn-secondary"> Edit Question </a>
                {% endif %}
            </div>
        </div>     
    </form>

    <br/><br/>
    <div class="comment_section container"></div>

    <script>
        $(document).ready(function(){
            $.get( "{% url 'polls:comments' question.id %}", function( data ) {
              $( ".comment_section" ).html( data );
            });
        })
    </script>
{% endblock %}