{% extends "polls/base.html" %}
{% load common_tags %}

{% block title_heading %}
  | Voting History
{% endblock %}

{% block content %} 
    <h2>History</h2>
    {% if question_list %}
        {% for question in question_list %}
            <br/>
            <a href="{% url 'polls:detail' question.id %}" class="text-dark" style="text-decoration: none;">
                <div class="card">
                    <div class="card-body">
                        <b>{{question.question_text}}</b><br/>
                        {% print_question_category question %}
                    </div>
                    <div class="card-footer"> Vote: {{ question.vote__count }}</div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}