{% extends "polls/base.html" %}
{% load common_tags %}

{% block title_heading %}
  | Home
{% endblock %}

{% block content %}
    <h2>All Question</h2>
    <div class="row">
        <div class="col-sm-9"> 
            {% if question_list %}
                {% for question in question_list %}
                    <br/>
                    <a href="{% url 'polls:detail' question.id %}" class="text-dark" style="text-decoration: none;">
                        <div class="card question" data-question={{question.id}}>
                            <div class="card-body"> 
                                <b>{{question.question_text}}</b><br/>
                                {% print_question_category question %}
                            </div>
                            <div class="card-footer">
                                <span id="question_vote_count_{{question.id}}">
                                    Vote: {{ question.vote__count }}
                                </span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
        <div class="col-sm-3">
            <br/>
            <div class="card">
                <div class="card-header"> <b> Category Filter </b> </div>
                <ul class="list-group">
                    {%  for category in category_list_data %}
                        <a href="{% url 'polls:index' %}?category={{category.0}}" style="text-decoration: none;" class="text-dark">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b> {{ category.1 }} </b>
                            <!-- <span class="badge badge-primary badge-pill">12</span> -->
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            const question_list = $('.question').map(function(){
                return $(this).data('question');
            }).get()
            const ws_connection_list = question_list.map(id => connect_question_with_channel(id))
        })

        function connect_question_with_channel(id){
            url = 'ws://localhost:8001/ws/question/'+id+'/'

            const chatSocket = new WebSocket(url)

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                text = "Vote : "+ data.message.vote_count
                $("#question_vote_count_"+id).text(text)
            };
            chatSocket.onclose = function(e) { console.log(e) }
        }
    </script>

{% endblock %}