{% extends "polls/base.html" %}
{% load crispy_forms_tags %}

{% block title_heading %}
  | Create Poll
{% endblock %}

{% block content %} 
  <form method="POST" class="slim_form">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        <b> {{ action }} Poll Form </b>
      </div>
      <div class="card-body">
        {{ question_form|crispy }} 
        {{ choice_form|crispy }}
      </div>
    <div class="card-footer">                    
      <button class="btn btn-primary" type="submit">{{ action }} Poll</button>
    </div>
  </form>
{% endblock %}