{% extends "polls/base.html" %}
{% load crispy_forms_tags %}

{% block title_heading %}
  | Result
{% endblock %}
{% block content %} 
    <br/>
    <div class="card">
        <div class="card-header"><b>{{question.question_text}}</b></div>
        <div class="card-body">
            <ul>
                {% for choice in question.choice_set.all %}
                    <li>{{ choice.choice_text }} -- {{ choice.count_total_votes }} vote{{ choice.votes|pluralize }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer"><a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">Change your vote?</a></div>
    </div>     
{% endblock %}