{% extends "polls/base.html" %}
{% load crispy_forms_tags %} 
{% block title_heading %}
  | Login
{% endblock %}
{% block content %} 
  <form method="POST" class="slim_form">
    {% csrf_token %}
    {{ form|crispy }}                    
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
{% endblock %}